In [2]:
import pandas as pd

In [3]:
payments = pd.read_csv(r"C:\Users\SVNET Analyst\Downloads\umshiza_db\c19_loan_payments.csv")

C:\Users\SVNET Analyst\AppData\Local\Temp\ipykernel_8996\4292817124.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  payments = pd.read_csv(r"C:\Users\SVNET Analyst\Downloads\umshiza_db\c19_loan_payments.csv")

In [4]:
loans = pd.read_csv(r"C:\Users\SVNET Analyst\Downloads\umshiza_db\c19_loans.csv")

In [5]:
beneficiary = pd.read_csv(r"C:\Users\SVNET Analyst\Downloads\umshiza_db\beneficiary.csv")

C:\Users\SVNET Analyst\AppData\Local\Temp\ipykernel_8996\1033847308.py:1: DtypeWarning: Columns (3,4,13,15,18,23,26) have mixed types. Specify dtype option on import or set low_memory=False.
  beneficiary = pd.read_csv(r"C:\Users\SVNET Analyst\Downloads\umshiza_db\beneficiary.csv")

In [6]:
newBens = beneficiary.drop(columns=(['city','state','country','delete_flag','bankName','branchCode','accholder','accType',
                          'accno','branchName','address_1','address_2']), axis=1)
newBens

,person_id,first_name,last_name,phone_number,phone_work,email,email_work,zip,nat_id,computer_num,graded_tax_num,company_name,sector,phone_home,kin_Name,kin_Cell,compNo
0,21,LINDIWE GUGU,MDLULI,0,0,NaN,NaN,NaN,7206291100051,100007,3620195,JIT SUPPLIERS (PTY) LTD T/A OFFICEMATES,PRIVATE,0,NaN,0.0,1615
1,38,MNDENI MNDENI,DLADLA,0,0,NaN,NaN,NaN,7411026100042,137867,NaN,NaN,PRIVATE,78278424,NaN,0.0,250
2,39,AARON BONA,DLAMINI,0,0,NaN,NaN,NaN,0,152145,NaN,NaN,UNKNOWN,0,NaN,0.0,291
3,40,ANDERSON SANDILE,DLAMINI,0,0,NaN,NaN,NaN,0,147653,NaN,NaN,UNKNOWN,0,NaN,0.0,291
4,41,BABONGILE HLENGIWE,DLAMINI,0,0,NaN,NaN,NaN,0,1725146,NaN,NaN,UNKNOWN,0,NaN,0.0,291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66449,66504,GIFTED,MAGONGO,0,0,giftedmagongo44@gmail.com,NaN,NaN,8805216100119,12346,101989178,NaN,PRIVATE,76211266.0,NELSIWE MAGONGO,76047054.0,507
66450,66505,NOMATHAMSANQA TERRENCIA,HLOPHE,0,0,NaN,NaN,NaN,7510271100142,150370,101783666,NaN,PRIVATE,76070414.0,NaN,0.0,580
66451,66506,LINDELWA WENDY,SIFUNDZA,0,0,lindelwa.sifundza@gmail.com,NaN,NaN,9107111100271,1817397,40380595,NaN,PRIVATE,76982073.0,SIFUNDZA THANDEKILE,76194124.0,321
66452,66507,JABULILE,TSABEDZE,0,23335370,NaN,jabulile@eswacaa.co.sz,NaN,7412161100037,157559,3961447,NaN,PRIVATE,76352039.0,DAVID MPUNGOSE,76386526.0,393
66453,66508,PHINDILE THABSILE,HLOPHE,0,0,NaN,NaN,NaN,0,10138,3466076,NaN,UNKNOWN,0.0,NaN,0.0,291

In [7]:
newPay = payments.drop(columns=['teller_id','remarks','delete_flag','date_paid','payType','refund_comments'],axis=1)
newPay

,loan_payment_id,account,loan_id,pay_date,customer_id,balance_amount,paid_amount,date_modified,modified_by,captured_date
0,1,0,42222,2017-10-25,49117,59182.51,622.97,1970-01-01,0,2022-07-26 06:22:44
1,2,0,42222,2017-11-20,49117,58559.54,622.97,1970-01-01,0,2022-07-26 06:22:44
2,3,0,42222,2017-12-13,49117,57936.57,622.97,1970-01-01,0,2022-07-26 06:22:44
3,4,0,42222,2018-01-19,49117,57313.60,622.97,1970-01-01,0,2022-07-26 06:22:44
4,5,0,42222,2018-02-21,49117,56690.63,622.97,1970-01-01,0,2022-07-26 06:22:44
...,...,...,...,...,...,...,...,...,...,...
675762,1143175,35890,28784,2023-10-27,35890,26596.45,-200.00,0000-00-00,1,2023-10-30 00:00:00
675763,1143176,1029,814,2023-10-27,1029,61412.90,-100.00,0000-00-00,1,2023-10-30 00:00:00
675764,1143177,11767,8791,2023-10-26,11767,19120.00,300.00,0000-00-00,0,2023-10-30 09:47:11
675765,1143178,42714,35567,2023-10-27,42714,80304.60,600.00,0000-00-00,0,2023-10-30 09:53:07
675766,1143179,16205,11993,2023-10-29,16205,21464.80,500.00,0000-00-00,0,2023-10-30 10:00:11

In [8]:
paymaster = pd.merge(newBens,newPay,left_on='person_id',right_on='customer_id')
paymaster

,person_id,first_name,last_name,phone_number,phone_work,email,email_work,zip,nat_id,computer_num,...,loan_payment_id,account,loan_id,pay_date,customer_id,balance_amount,paid_amount,date_modified,modified_by,captured_date
0,58,LUCY BONSILE,DLAMINI,0,0,NaN,NaN,NaN,7412071100333,63612,...,282662,0,45,2017-12-26,58,139566.95,900.0,1970-01-01,1,2022-07-26 06:22:44
1,58,LUCY BONSILE,DLAMINI,0,0,NaN,NaN,NaN,7412071100333,63612,...,282663,0,45,2018-02-01,58,138666.95,900.0,1970-01-01,1,2022-07-26 06:22:44
2,58,LUCY BONSILE,DLAMINI,0,0,NaN,NaN,NaN,7412071100333,63612,...,282664,0,45,2018-03-02,58,137766.95,900.0,1970-01-01,1,2022-07-26 06:22:44
3,58,LUCY BONSILE,DLAMINI,0,0,NaN,NaN,NaN,7412071100333,63612,...,282665,0,45,2018-05-04,58,135966.95,900.0,1970-01-01,1,2022-07-26 06:22:44
4,58,LUCY BONSILE,DLAMINI,0,0,NaN,NaN,NaN,7412071100333,63612,...,282666,0,45,2018-05-31,58,135066.95,900.0,1970-01-01,1,2022-07-26 06:22:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675756,66506,LINDELWA WENDY,SIFUNDZA,0,0,lindelwa.sifundza@gmail.com,NaN,NaN,9107111100271,1817397,...,1108342,66506,66715,2023-07-31,66506,164767.50,200.0,0000-00-00,1,2023-08-01 00:00:00
675757,66506,LINDELWA WENDY,SIFUNDZA,0,0,lindelwa.sifundza@gmail.com,NaN,NaN,9107111100271,1817397,...,1121289,66506,66715,2023-08-31,66506,164567.50,200.0,0000-00-00,1,2023-09-01 00:00:00
675758,66506,LINDELWA WENDY,SIFUNDZA,0,0,lindelwa.sifundza@gmail.com,NaN,NaN,9107111100271,1817397,...,1131448,66506,66715,2023-09-30,66506,164367.50,200.0,0000-00-00,1,2023-10-02 00:00:00
675759,66507,JABULILE,TSABEDZE,0,23335370,NaN,jabulile@eswacaa.co.sz,NaN,7412161100037,157559,...,1129544,66507,66716,2023-09-19,66507,0.00,10825.1,0000-00-00,0,2023-09-21 00:00:00
675760,66508,PHINDILE THABSILE,HLOPHE,0,0,NaN,NaN,NaN,0,10138,...,1141153,66508,66717,2019-01-29,66508,460.50,600.0,0000-00-00,0,2023-10-19 13:39:42

In [ ]:
#determining the file name
file_name = 'PaymentsMaster.csv'
#saving the csv file
paymaster.to_csv(file_name, sep=',', index=False, encoding='utf-8')
print ('Dataframe is written to csv')

Dataframe is written to csv

In [9]:
#creating a new loans data frame by dropping unwanted features from the database
newloans= loans.drop(['remarks','loan_agent_id','loan_approved_by_id','loan_reviewed_by_id','delete_flag'
                      ,'cutDate','total_arrears','arrear_code','arrear_signal','arrear_bal'], axis=1)
newloans

,loan_id,customer_id,loan_amount,loan_balance,loan_status,cons_amt,installment,debitValue,last_pay_date,consent_date,...,comments,interest,interestTwo,loan_ben_stat,description,loan_cons_amt,debit_comment,dbt_comm_date,dbt_comm_user,last_payment_inst_date
0,27,38,11300.00,11300.00,pending,0.00,600.00,0,2024-09-20,1970-01-01,...,NaN,1,50,11,NaN,11300.00,NaN,1970-01-01,1,1970-01-01
1,28,39,3436.20,3436.20,pending,0.00,600.00,0,2023-08-20,1970-01-01,...,NaN,1,50,11,NaN,3436.20,NaN,1970-01-01,1,1970-01-01
2,29,40,2095.88,2095.88,pending,0.00,600.00,0,2023-06-20,1970-01-01,...,NaN,1,50,11,NaN,2095.88,NaN,1970-01-01,1,1970-01-01
3,30,41,120996.00,120996.00,pending,0.00,1260.38,0,2031-02-20,1970-01-01,...,NaN,1,50,11,NaN,120996.00,NaN,1970-01-01,1,1970-01-01
4,31,42,9119.50,9119.50,pending,0.00,600.00,0,2024-06-20,1970-01-01,...,PITCHER UPDATE,1,50,11,NaN,9119.50,NaN,1970-01-01,1,1970-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66444,66713,52848,81520.05,81020.05,pending,300.00,1132.22,10,2045-10-20,2021-12-21,...,NaN,1,1,1,NaN,0.00,NaN,1970-01-01,1,2023-10-11
66445,66714,66505,18239.00,18239.00,pending,600.00,600.00,10,2025-09-20,2022-11-28,...,NaN,2,2,9,NaN,0.00,NaN,1970-01-01,1,1970-01-01
66446,66715,66506,165967.50,164367.50,pending,200.00,1383.06,30,2092-04-01,2023-01-20,...,NaN,2,2,1,NaN,0.00,NaN,1970-01-01,1,2023-09-30
66447,66716,66507,10825.10,0.00,pending,3608.37,600.00,10,0000-00-00,2023-08-28,...,NaN,1,1,8,NaN,0.00,NaN,1970-01-01,1,0000-00-00
66448,66717,66508,1060.50,460.50,pending,600.00,600.00,10,0000-00-00,2023-09-15,...,NaN,1,1,2,NaN,0.00,NaN,1970-01-01,1,2019-01-29

In [10]:
#merge the data frames using the person_id and customer_id since they are equivalent
loansmaster = pd.merge(newBens,newloans,left_on='person_id',right_on='customer_id')
loansmaster

,person_id,first_name,last_name,phone_number,phone_work,email,email_work,zip,nat_id,computer_num,...,comments,interest,interestTwo,loan_ben_stat,description,loan_cons_amt,debit_comment,dbt_comm_date,dbt_comm_user,last_payment_inst_date
0,21,LINDIWE GUGU,MDLULI,0,0,NaN,NaN,NaN,7206291100051,100007,...,CONSENTED,1,50,8,NaN,-4834.24,NaN,1970-01-01,1,1970-01-01
1,38,MNDENI MNDENI,DLADLA,0,0,NaN,NaN,NaN,7411026100042,137867,...,NaN,1,50,11,NaN,11300.00,NaN,1970-01-01,1,1970-01-01
2,38,MNDENI MNDENI,DLADLA,0,0,NaN,NaN,NaN,7411026100042,137867,...,NOW CAPTURED\r\nFEES TAKEN FROM A STATEMENT FR...,1,1,9,NaN,0.00,NaN,1970-01-01,1,1970-01-01
3,39,AARON BONA,DLAMINI,0,0,NaN,NaN,NaN,0,152145,...,NaN,1,50,11,NaN,3436.20,NaN,1970-01-01,1,1970-01-01
4,40,ANDERSON SANDILE,DLAMINI,0,0,NaN,NaN,NaN,0,147653,...,NaN,1,50,11,NaN,2095.88,NaN,1970-01-01,1,1970-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66444,66504,GIFTED,MAGONGO,0,0,giftedmagongo44@gmail.com,NaN,NaN,8805216100119,12346,...,NaN,1,1,2,NaN,0.00,NaN,1970-01-01,1,2023-09-27
66445,66505,NOMATHAMSANQA TERRENCIA,HLOPHE,0,0,NaN,NaN,NaN,7510271100142,150370,...,NaN,2,2,9,NaN,0.00,NaN,1970-01-01,1,1970-01-01
66446,66506,LINDELWA WENDY,SIFUNDZA,0,0,lindelwa.sifundza@gmail.com,NaN,NaN,9107111100271,1817397,...,NaN,2,2,1,NaN,0.00,NaN,1970-01-01,1,2023-09-30
66447,66507,JABULILE,TSABEDZE,0,23335370,NaN,jabulile@eswacaa.co.sz,NaN,7412161100037,157559,...,NaN,1,1,8,NaN,0.00,NaN,1970-01-01,1,0000-00-00
66448,66508,PHINDILE THABSILE,HLOPHE,0,0,NaN,NaN,NaN,0,10138,...,NaN,1,1,2,NaN,0.00,NaN,1970-01-01,1,2019-01-29

In [11]:
#From the merged data frames remove unwanted features for a clean data frame
loansmasterfile = loansmaster.drop(['person_id','email_work','zip','description','debit_comment','dbt_comm_date'],axis=1)
loansmasterfile

,first_name,last_name,phone_number,phone_work,email,nat_id,computer_num,graded_tax_num,company_name,sector,...,total_due,total_repayment,loan_due,comments,interest,interestTwo,loan_ben_stat,loan_cons_amt,dbt_comm_user,last_payment_inst_date
0,LINDIWE GUGU,MDLULI,0,0,NaN,7206291100051,100007,3620195,JIT SUPPLIERS (PTY) LTD T/A OFFICEMATES,PRIVATE,...,4838.27425,4838.24,0.03425,CONSENTED,1,50,8,-4834.24,1,1970-01-01
1,MNDENI MNDENI,DLADLA,0,0,NaN,7411026100042,137867,NaN,NaN,PRIVATE,...,11300.00000,0.00,11300.00000,NaN,1,50,11,11300.00,1,1970-01-01
2,MNDENI MNDENI,DLADLA,0,0,NaN,7411026100042,137867,NaN,NaN,PRIVATE,...,89593.20000,0.00,0.00000,NOW CAPTURED\r\nFEES TAKEN FROM A STATEMENT FR...,1,1,9,0.00,1,1970-01-01
3,AARON BONA,DLAMINI,0,0,NaN,0,152145,NaN,NaN,UNKNOWN,...,3436.20000,0.00,3436.20000,NaN,1,50,11,3436.20,1,1970-01-01
4,ANDERSON SANDILE,DLAMINI,0,0,NaN,0,147653,NaN,NaN,UNKNOWN,...,2095.87500,0.00,2095.87500,NaN,1,50,11,2095.88,1,1970-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66444,GIFTED,MAGONGO,0,0,giftedmagongo44@gmail.com,8805216100119,12346,101989178,NaN,PRIVATE,...,97329.00000,0.00,97329.00000,NaN,1,1,2,0.00,1,2023-09-27
66445,NOMATHAMSANQA TERRENCIA,HLOPHE,0,0,NaN,7510271100142,150370,101783666,NaN,PRIVATE,...,18239.00000,0.00,0.00000,NaN,2,2,9,0.00,1,1970-01-01
66446,LINDELWA WENDY,SIFUNDZA,0,0,lindelwa.sifundza@gmail.com,9107111100271,1817397,40380595,NaN,PRIVATE,...,165967.50000,0.00,165967.50000,NaN,2,2,1,0.00,1,2023-09-30
66447,JABULILE,TSABEDZE,0,23335370,NaN,7412161100037,157559,3961447,NaN,PRIVATE,...,10825.10000,0.00,10825.10000,NaN,1,1,8,0.00,1,0000-00-00
66448,PHINDILE THABSILE,HLOPHE,0,0,NaN,0,10138,3466076,NaN,UNKNOWN,...,1060.50000,0.00,0.00000,NaN,1,1,2,0.00,1,2019-01-29

In [12]:
#determining the file name
file_name = 'LoansMasterFile.csv'
#saving the csv file
loansmasterfile.to_csv(file_name, sep=',', index=False, encoding='utf-8')
print ('Dataframe is written to csv')

Dataframe is written to csv